:root {
  --akcent-color: #2196f3;
  --second-color: #757575;
  --background: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
}

/*оформляем шапку  */
/* логотип */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.logo span {
  color: var(--akcent-color);
}

.logo:hover,
.logo:focus {
  text-decoration: underline var(--akcent-color);
}

.pf-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}

.link {
  text-decoration: none;
  list-style: none;
  color: #212121;
}

.link.current {
  color: var(--akcent-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--akcent-color);
}

.kontakt {
  text-decoration: none;
  color: var(--second-color);
}

.kontakt:hover,
.kontakt:focus {
  color: var(--akcent-color);
}
